.select {
margin-top: 20px;

}

.select .main {
    border: 1px solid black;
    display: inline-block;
    min-width: 80px;
    min-height: 30px;
    padding-top: 5px;
    border-radius: 3px;
}

.items {
    border: 1px solid black;
    position: absolute;
    margin-left: 110px;
    min-width: 80px;
    border-radius: 3px;
}

.item.selected {
    background-color: cornflowerblue;
    color: white;
}
